<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Source Code</key>
	<string>https://github.com/RehabMan/OS-X-ACPI-Battery-Driver</string>
	<key>CFBundleGetInfoString</key>
	<string>${MODULE_VERSION}, Copyright 2011 Apple Inc., RehabMan 2012</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>${MODULE_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>${MODULE_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${MODULE_VERSION}</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ACPI Battery Manager</key>
		<dict>
			<key>RM,Version</key>
			<string>${PRODUCT_NAME} ${MODULE_VERSION}</string>
			<key>RM,Build</key>
			<string>${CONFIGURATION}-${LOGNAME}</string>
			<key>CFBundleIdentifier</key>
			<string>${MODULE_NAME}</string>
			<key>IOClass</key>
			<string>rehab_ACPIBatteryManager</string>
			<key>IONameMatch</key>
			<string>PNP0C0A</string>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>UseExtendedBatteryInformationMethod</key>
			<true/>
			<key>UseExtraBatteryInformationMethod</key>
			<true/>
			<key>EstimateCycleCountDivisor</key>
			<integer>6</integer>
		</dict>
		<key>ACPI Battery Tracker</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>${MODULE_NAME}</string>
			<key>IOClass</key>
			<string>rehab_BatteryTracker</string>
			<key>IOMatchCategory</key>
			<string>rehab_BatteryTracker</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>ACPI AC Adapter</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>${MODULE_NAME}</string>
			<key>IOClass</key>
			<string>rehab_ACPIACAdapter</string>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>IONameMatch</key>
			<string>ACPI0003</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011 Apple Inc. All rights reserved, RehabMan 2012</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0d1</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
